.banner {
    width: 80%;
    display: block;
    margin: 20px auto;
}

.shop-category-index {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 140px;
}

.shop-category-index > p > span {
    font-family: "Poppins";
    font-weight: 600;
}
.shop-category-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid gray;
}
.shop-category-products {
    display: grid;
    padding-left: 100px;
    width: 90%;
    grid-template-columns: 350px 350px 350px 350px;
    justify-content: center;
}
.shop-category-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(255, 218, 149);
    border-radius: 75px;
    padding: 15px 10px;
    width: 233px;
    
}
