.footer {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 5px;
}
.footer-main {
    justify-content: center;
    gap: 20%;
}
.footer-main > li {
    transition-duration: 0.2s;
}
.footer-main > li:hover {
    transform: scale(1.05);
}
.footer-icons {
    /* border: 1px solid white; */
    justify-content: center;
    gap: 70%;
}
li {
    cursor: pointer;
}
hr {
    color: white;
    width: 100%;
    margin-bottom: 0;
}
.icon-size {
    cursor: pointer;
    height: 25px;
}