.popular > div {
    display: flex;
    overflow-x: auto;
    overflow: auto hidden;
}

.popular > h1 {
    font-size: 40px;
    font-weight: 600;
    padding-left: 10px;
}
.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: -12px;
    border-bottom: 6px solid black;
}
