.popular > div {
    display: flex;
    /* width: 100%; */
    overflow-x: auto;
    /* justify-content: center; */
    /* padding: 20px 9px; */
}

.popular > h1 {
    font-size: 40px;
    font-weight: 600;
    padding-left: 10px;
}
.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    left: 10%; /* Adjust the starting position as needed */
    right: 10%; /* Adjust the ending position as needed */
    bottom: -12px; /* Adjust the distance from the text as needed */
    border-bottom: 6px solid black; /* Adjust the underline style as needed */
}

